#bodyy{
    background-image: url(giorgiasfails/images/galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Contact{
    width: 30rem;
    height: 15rem;
    border-radius: 5px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid rgb(0, 179, 255);
}
.contactplace{
    display: flex;
    justify-content: center;
    margin: 4rem;
}
.phone:hover{
    color: white;
    
}
.mail:hover{
    color: white;
    
}