#bodyyy{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(giorgiasfails/images/galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mainheader{
    position: fixed;
    display: block;
    height: 65px;
    width: 100%;
    border:none;
    margin: 0;
    color: white;
    background-color: black;
    z-index: 10;
    box-shadow:0px 4px 8px 0px rgba(9, 145, 230, 0.25), 0px 8px 10px 0px rgba(20, 142, 218, 0.25), 0px 8px 4px -1px rgba(14, 24, 212, 0.5);
}
.headerthings{
    display: flex;
    justify-content: space-between;
    
}
.headerleftside{
    padding-top: 0.6rem;
    margin-left: 5rem;
}
.name{
    display: inline-block;
    font-family: "Product Sans",Arial,sans-serif;
    font-size: 20px;
    top: -1.5px;
    position: relative;
    vertical-align: middle;
    color: white;
}
.headerrightside{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2rem;
}
.projects{
    margin: 1rem;
    
}
.about{
    
    text-decoration: none;
    color: white;
    
}
.contact{
    margin: 1rem;
}
.astronautimage{
    width: 300px;
    position: absolute;
    z-index: -1;
}
.mainabout{
   margin: 6rem 5rem;
   color: white;
}
.aboutinenglish{
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
}
.aboutingeorgia{
    color: aqua;
    text-shadow: 2px 2px 8px rgb(0, 179, 255) ;
}
.mainprojects{
    margin: 5rem 2rem  5rem 2rem;
    color: white;
    
}
.placetoprojects{
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
}
.projectsingeorgian{
    color: aqua;
    text-shadow: 2px 2px 8px rgb(0, 179, 255) ;
}
.footerplace{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}
.footersside{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}
.footerssidename{
    color: aqua;
    text-shadow: 2px 2px 8px rgb(0, 179, 255) ;
}
@media screen and (max-width: 480px) {
    .aboutinenglish {
     font-size: 1rem;
     color: aqua;
    }
    .aboutingeorgia{
        font-size: 0.6rem;
    }
    .placetoprojects{
        font-size: 1rem;
    }
    .githublink{
        font-size: 1rem;
    }
    .projectsingeorgian{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 780px) {
    .aboutinenglish {
     font-size: 1.3rem;
     color: rgb(0, 255, 64);
    }
    .aboutingeorgia{
        font-size: 0.8rem;
    }
    .placetoprojects{
        font-size: 1.3rem;
        color: rgb(0, 255, 64);
    }
    .githublink{
        font-size: 1.3;
    }
    .projectsingeorgian{
        font-size: 0.8rem;
        margin-right: 40px;
    }
    .headerrightside{
        visibility: hidden;
    }
    .name{
        font-size: 1rem;
        position: fixed;
        margin-top: 25px;
    }
    .dropdowm{
        visibility: visible;
    }
    .dropbtn{
        visibility: visible;
    }
    .dropdown-content{
        visibility: visible;
    }
}@media screen and (min-width: 780px){
 .dropdowm{
     visibility: hidden;
 }
 .dropbtn{
     visibility: hidden;
 }
 .dropdown-content{
     visibility: hidden;
 }
}
.dropbtn {
    background-color: rgb(0, 255, 64);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}