#bodyyy{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.mainheader{
    display: block;
    height: 65px;
    width: 100%;
    border:none;
    margin: 0;
    color: white;
    background-color: black;
    z-index: 10;
    box-shadow:0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);
}
.headerthings{
    display: flex;
    justify-content: space-between;
}
.headerleftside{
    padding-top: 0.6rem;
    margin-left: 5rem;
}
.name{
    display: inline-block;
    font-family: "Product Sans",Arial,sans-serif;
    font-size: 20px;
    top: -1.5px;
    position: relative;
    vertical-align: middle;
    color: white;
}
.headerrightside{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2rem;
}
.projects{
    margin-right: 1rem;
}
.about{
    margin-right: 1rem;
}