    .mainbody{
        background-color: #f0f2f5;
        color: #1c1e21;
        line-height: 1.34;
        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial, sans-serif;
    }
    .logo{
        height: 112px;
        margin: -28px;
        
    }
    .leftsidetext{
        font-size: 1.73rem;
        line-height: 28px;
        
    }
    
    .leftsidetextlogo{
        padding-top: 9rem;
        padding-left:9rem ;
        
    }
    .rightside{
        float: right;
        margin-top:-16rem;
        margin-right:9rem ;
        padding: 10px;
    }
    .rightsidecontainer{
        background-color: white;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        box-sizing: border-box;
        margin: 40px 0 0;
        padding: 20px 0 28px;
        width: 415px;
        height: 345px;
        
    }
    .rightsidetext{
    border-top: none;
    color: #1c1e21;
    font-size: 14px;
    font-weight: normal;
    padding-top: 30px;
    padding-left: 50px;
    }
    .containerthings{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .babu{
    text-decoration: none;
    color: black;
    font-size: 14px;
    }
    .buttonnewaccaunt{
    background-color: #42b72a;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 15px;
    }
    .forgotpassword{
    text-decoration: none;
    font-size: 13px;
    }
    .newaccauntplace{
    margin: 15px;
    }
    .loginbutton{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    width: 364px;
    color:   white ;
    }
    .loginbuttonplace{
    margin: 12px 0px;
    }
    .justline{
    align-items: center;
    border: 2px solid #dadde1;
    display: flex;
    margin:1.5rem ;
    text-align: center;
    color: white;
    width: 25rem;
    }
    .mobileoremail{
    font-size: 17px;
    width: 364px;
    border-radius: 6px;
    height: 3rem;
    border-color: #dadde2; 
    font-size: 17px;
    padding: 10px ;
    vertical-align: middle;
    }
    .mobileoremailplace{
    margin: 8px 0px;
    }
    .password{
    font-size: 17px;
    width: 364px;  
    border-radius: 6px;
    padding:  10px;
    vertical-align: middle;
    height: 3rem;
    border-color: #dadde2;
    }